
.mainContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
}

.mainContainer > div {
    margin: 15px;
    width: 100%;;
}

.header{
    height: 180px;
    background-color: transparent;
    box-shadow: 1px 1px 8px 1px grey;;
    padding:5px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #6f6de9;
    border-radius: 5px;
}

.header small, .cartDetail{
    font-size: 1.2rem;
    font-weight: 500;
}

.itemContainer{
    display: flex;
    flex-wrap: wrap;
    
}

.cartDetail{
    display: flex;
    justify-content: space-around;
    
}


.cartDetail > div{
    margin: 10px;
    padding: 5px;
    text-align: center;
}

.cartDetail button{
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100px;
    height: 30px;
    border: none;
    color: white;
}


.cartDetail button:hover{
    background-color: white;
}

.removeAll{
    background-color: #e01111;
}

.purchaseAll{
    background-color: #805dfded;
}

.removeAll:hover{
    color: #55ffe3;
    border: 2px solid #2fb5d6;
}

.purchaseAll:hover{
    color: #5dfd5d;
    border: 2px solid #59b95e;
}


/* ================================ CartItem.js ========================= */

.imageContainer{
    height: 70%;
}

.imageContainer img{
    height: 100%;
    width: 100%;
}

.itemInfo{
    width: 100%;
    height: 30%;
}

.itemInfo > div{
    width: 100%;
    overflow: hidden;
    text-overflow:ellipsis ;
}

.namePrice{
    height: 26%;
    font-size: 1rem;
}

.priceQuant{
    height: 37%;
    display: flex;
    justify-content: space-between;
    color: #ff5555;
}

.quantity{
    color:black;
}

.minus{
    color:red;
}

.plus{
    color:green;
}

.btnContainer{
  height: 37%;  
}

.removeBtn{
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(to right, #1024d3 0%, #3885ea 51%, #8b10d3 100%);
}

.removeBtn:hover{
    background-image: none;
    border: 2px solid #0f39c5;
    color: #106bd3;
    font-weight: 700;
}